<article>
	
	<header>
		<h1><%= @event.name %></h1>
	</header>
	<p>
		<%= @event.description %>
	</p>
	<h3>Where</h3>
	<p>
		<%= @event.location %>
	</p>
	<h3>Price</h3>
	<p>
		<%= format_price(@event) %>
	</p>	
</article>